<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div>
    <button id="btnHorn">honk horn</button>
  </div>

  <img src="images/horn.gif" alt="" id="imgHorn" class="hidden">
  <audio volume="0.1" src="sounds/horn.wav" id="sndHorn"></audio>

  <script src="javascripts/primus.js"></script>
  <script src="javascripts/party.js"></script>
</body>

</html>