<!DOCTYPE html>
<html>

<head>
  <title>live</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>this is the live feed</h1>

  <script src="javascripts/primus.js"></script>
  <!--
  <script src="javascripts/party.js"></script>
  -->
</body>

</html>